body {
  margin: 0;
  border: 0;
  padding: 0;
}

.dg
{
    user-select: none;
}

#canvasJs {
  position: absolute !important;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

#canvas {
  position: absolute !important;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

#gui_css {
  z-index : 3;
}
